.image-list {
    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

    grid-gap: 10px;
    grid-template-rows: min-content min-content auto min-content;
    align-items: start;
    margin: auto;
}

.image-list img {
    max-width: 100%;
        grid-auto-rows: minmax(min-content, max-content);
}
